.borda {
    border-style: solid;
    border-width: 1px;
}

.GridHeader {
    text-align: center !important;
    vertical-align: central !important;
}

.font-size {
    font-size: 12px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
}

input[type=checkbox] {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    padding: 10px;
}

.custom-select {
    width: 100px;
}

table tr:hover {
    background-color: #D9DCDC;
}