@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

.borda {
    border-style: solid;
    border-width: 1px;
}

.GridHeader {
    text-align: center !important;
    vertical-align: middle !important;
}

td, th, input[type=submit] {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
}

input[type=submit] {
    width: 150px;
}

input[type=text] {
    width: 100px;
    height: 30px;
}

input#btnExcel, input#btnPDF {
    background-color: #2890F3;
    color: white;
}

input#btnEnvia {
    background-color: #106975;
    color: white;
}

input#btnExcel:hover, input#btnPDF:hover {
    background-color: #0D82F2;
    color: white;
}

input#btnEnvia:hover {
    background-color: #0D545E;
    color: white;
}

td {
    font-size: 14px;
}

th {
    font-size: 13px;
}

.table td, .table th {
    padding: .75rem;
    vertical-align: middle;
}

input[type=checkbox] {
    -ms-transform: scale(1.4);
    -moz-transform: scale(1.4);
    -webkit-transform: scale(1.4);
    transform: scale(1.4);
    padding: 10px;
}

.custom-select {
    width: 110px;
}

table tr:hover {
    background-color: #F4F5F5;
}

@media screen and (min-width: 1000px) and (max-width: 1300px) {
    .borda {
        border-style: solid;
        border-width: 1px;
    }

    .GridHeader {
        text-align: center !important;
        vertical-align: middle !important;
    }

    td, th, input[type=submit] {
        font-family: "Roboto", Arial, Helvetica, sans-serif;
    }

    input[type=submit] {
        width: 150px;
    }

    input[type=text] {
        width: 100px;
        height: 30px;
    }

    input#btnExcel, input#btnPDF {
        background-color: #2890F3;
        color: white;
    }

        input#btnExcel:hover, input#btnPDF:hover {
            background-color: #0B71D3;
            color: white;
        }

    td {
        font-size: 14px;
    }

    th {
        font-size: 13px;
    }

    .table td, .table th {
        padding: .75rem;
        vertical-align: middle;
    }

    input[type=checkbox] {
        -ms-transform: scale(1.4);
        -moz-transform: scale(1.4);
        -webkit-transform: scale(1.4);
        transform: scale(1.4);
        padding: 10px;
    }

    .custom-select {
        width: 110px;
    }

    table tr:hover {
        background-color: #F4F5F5;
    }

    table#GridView1 {
        width: 1400px;
    }
}
